@border-color: #ebedf0;
@min-row-height: 48px;
@header-background: #fafafa;
@zIndex-low: 100;
@zIndex-high: 1000;

.react-hooks-table {
  background-color: white;
  position: relative;
  .base-item {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
    box-sizing: border-box;
  }
  &.bordered {
    .base-item {
      &:not(:last-of-type) {
        border-right: 1px solid @border-color;
      }
    }
    .table-container {
      .header {
        .column-header {
          .base-item;
        }
      }
      .body {
        .row {
          .column-item {
            .base-item;
          }
        }
      }
      .empty-text {
        border: 1px solid @border-color;
      }
    }
  }
  .table-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: @min-row-height auto;
    .header {
      display: grid;
      grid-template-rows: minmax(@min-row-height, auto);
      .column-header {
        .base-item;
        background-color: @header-background;
        border-bottom: 1px solid @border-color;
      }
    }
    .body {
      display: grid;
      .row {
        display: grid;
        // grid-template-rows: minmax(@min-row-height, auto);
        border-bottom: 1px solid @border-color;
        .column-item {
          .base-item;
          background-color: white;
          &.auto-fill {
            background-color: transparent;
            pointer-events: none;
          }
        }
      }
    }
    .empty-text {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      height: 200px;
    }
  }
  .footer {
    display: flex;
    flex: 0 0 auto;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
  }
  .ant-spin-nested-loading > div > .ant-spin {
    max-height: 100%;
  }
}